.productform {
       margin: 10px auto;
       width: 40%;
       /* height: 360px; */
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(31, 23, 23, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       /* background: url("C:\Users\INTEL\Desktop\login bg image.jpg"); */
}

.btn-product {
       background: linear-gradient(135deg, #d16c24, #ff6b6b);
       color: white;
       position: relative;
       overflow: hidden;
       margin-top:25px;
       padding: 10px 20px;

}

.btn-product::before {
       content: '';
       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
}

.btn-product:hover::before {
       left: 100%;
}