.addressform {

       margin: 10px auto;
       width: 40%;
       /* height: 360px; */
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 10px 20px 50px rgba(58, 45, 45, 0.1);
       position: relative;
       text-align: center;
       border: 5px solid rgb(244, 242, 242);
       background: url("C:\Users\INTEL\Desktop\login bg image.jpg");

}

.addressform h3 {
       text-align: center;
}