.addressform {
       /* background:#CEC2B9;
       padding: 10px 0;
       text-align:left;
       margin: 10px auto;
       width: 60%;
       border: solid 1px black; */
       /* width: 60%;
       margin: 10px auto;
       border: solid 1px black;
       background: #CEC2B9;
       padding: 20px;
       text-align:left; */
       background: #CEC2B9;
       margin: 10px auto;
       width: 60%;
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
       position: relative;
       text-align:left;
       border-top: 5px solid #e7d4c6;

}

.addressform h3 {
       text-align: center;
}