.addressform {
       /* background:#CEC2B9;
       padding: 10px 0;
       text-align:left;
       margin: 10px auto;
       width: 60%;
       border: solid 1px black; */
       width: 60%;
       margin: 10px auto;
       border: solid 1px black;
       background: #CEC2B9;
       padding: 20px;
       text-align:left;

}

.addressform h3 {
       text-align: center;
}
