.card-product{
       margin: auto;
       padding: 10px;

}
.card-product img{
       width: 100%;
}
.wishlist-product{
       margin: auto;
       padding: 10px;
}
.wishlist-product img{
       width: 100%;
}
