.card-product{
       margin: auto;
       padding: 10px;
       border: none !important;
}
.card-product img{
       width: 100%;
}
.card-product :link{
  color:black ;
  text-decoration:none;
}
.view-product{
       margin: auto;
       padding: 10px;
       border: none !important;
}
.view-product img{
       width: 100%;
       
}
.wishlist-product{
       margin: auto;
       padding: 10px;
}
.wishlist-product img{
       width: 100%;
}
.text-menu h3{
       text-align: center;
       padding: 60px;
}
.float-list{
       padding: 20px;
}
