.mensection {
       background: white;
       padding: 10px 0;
       text-align: center;
}

.images img {
       width: 100%;
}
.images{
       background:white;
       margin-bottom: 30px;
       text-align: center;
       overflow: auto;
       opacity: 0.9;
       border-radius: 15px;
       box-shadow: 0 10px 30px rgba(0,0,0,0.08);

}
.images:hover{
       /* border: solid 1px #5F3B2D; */
       box-shadow: 0 20px 45px rgba(0,0,0,0.15);
       opacity: 1;
}

.text p{
       text-align: justify;
       opacity: 0.8;
       padding:0 15px;
}

.text p {
       text-align:justify;
       color: black;
}
.price p{
       text-align: center;
       margin: 20px 10px;
}

.buttonarea{
       background: white;
       margin-bottom: 30px;
       text-align:center;
       margin-top: 10px;
}
.buttons{
       background: #5F3B2D;
       text-align:center;
       padding: 10px 25px;
       border-color:white;
       margin-right:10px;
}
.buttons:hover{
       background: #6f4529;
       transform: scale(1);
}


