.dashboard{
       background:white;
       padding: 40px 0;
       text-align: left;
       
       /* border: 2px solid red; */
       border-radius: 15px;
       box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.menu{
       background: rgb(221, 188, 194);

}
.box{
       background:#A5DFDF;
       padding: 10px 20px;
       text-align: center;
       margin:0 20px;
}
.link-area:link{
       /* color: white; */
       text-decoration: none;
}