.service-form{
        background: #CEC2B9;
       margin: 10px auto;
       width: 40%;
       height: 360px;
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
       position: relative;
       text-align:center;
       border-top: 5px solid #e7d4c6;
       /* background: url("C:\Users\INTEL\Desktop\login bg image.jpg"); */

}

.btn-service {
       background: linear-gradient(135deg, #d16c24, #ff6b6b);
       color: white;
       position: relative;
       overflow: hidden;
       margin-top:25px;
       padding: 10px 20px;

}

.btn-service::before {
       content: '';
       position: absolute;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
       transition: left 0.7s ease;
}

.btn-service:hover::before {
       left: 100%;
}