.service-form{
        background: #CEC2B9;
       margin: 10px auto;
       width: 40%;
       padding: 40px 30px;
       border-radius: 20px;
       box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
       position: relative;
       text-align:center;
       border-top: 5px solid #e7d4c6;
}
.submit-button{
       padding: 10px ;
       background: #CEC2B9;
       text-align: center;
}